<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>전통주 취향 테스트</title>
  <link rel="stylesheet" href="../public/test2.css">
</head>

<body>
  <div id="title">
    <h1>추천 전통주 찾기</h1>
    <div>
      <img src="../uploads/home.PNG" alt="mainImg" class="imgs">
    </div>
    <p>나에게 맞는 술을 찾아보세요</p>

    <button onclick="js:filter()">전통주 찾기</button>

  </div>


  <div id="content">

    <h1 id="q">
      <h1>전통주 찾기</h1>
      <form action="/drinks/recommendation" method="get">
        <div>
          가격
          <select name="q1" id="q1">
            <option value="1">비싸도 좋아요</option>
            <option value="2">저렴하게 먹을래요</option>
          </select>
        </div>
        <div>
          도수
          <select name="q2" id="q2">
            <option value="1">라이트하게 먹어요</option>
            <option value="2">쎈 술이 좋아요</option>
          </select>
        </div>
        <div>
          주종
          <select name="q3" id="q3">
            <option value="탁주">탁주</option>
            <option value="약주">약주</option>
            <option value="과실주">과실주</option>
            <option value="증류주">증류주</option>
            <option value="기타주류">기타주류</option>
          </select>
        </div>
        <div>
          단맛
          <select name="q4" id="q4">
            <option value="1">너무 달면 별로..</option>
            <option value="2">달달한게 좋아요</option>
          </select>
        </div>
        <div>
          신맛
          <select name="q5" id="q5">
            <option value="1">신맛을 잘 못먹어요</option>
            <option value="2">신맛을 즐겨요</option>
          </select>
        </div>
        <div>
          바디감
          <select name="q6" id="q6">
            <option value="1">소프트한게 좋아요</option>
            <option value="2">묵직한게 좋아요</option>
          </select>
        </div>
        <div>
          청량감
          <select name="q7" id="q7">
            <option value="1">화끈한 느낌이 좋아요</option>
            <option value="2">시원한 느낌이 좋아요</option>
          </select>
        </div>
        <input type="submit" onclick="Check()" value="검사완료">
    </h1>

    <h3 id="a">

    </h3>
  </div>





  </form>

  <div id="result">

    <div class="resultTitle">

    </div>
    <div id="resultImg">
      <!-- <img> -->
    </div>
    <div class="resultContent">
      <hr>
      <% for (var i=0; i < posts.length ; i ++) { %>
        <h2 class="title">
          <%= posts[i].전통주명 %>
        </h2>
        <p class="category">
          주종 : <%= posts[i].주종 %>
        </p>
        <p class="food">
          잘 어울리는 음식 : <%= posts[i].잘어울리는음식 %>
        </p>
        <hr>
        <!--<button class="detail" onclick="location.href='/detail/:id' ">상세보기</button>-->
        <% } %> 
    </div>



  </div>

  <script charset="utf-8">
    const process = 1;
    const select = [0, 0, 0, 0, 0, 0, 0, 0];
    const patterns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'];
    const result = document.querySelector("#result");
    const content = document.querySelector("#content");
    function Check() {
      //var q1 = document.getElementById('q1').value;
      //var q2 = document.getElementById('q2').value;
      //var q3 = document.getElementById('q3').value;
      //var q4 = document.getElementById('q4').value;
      //var q5 = document.getElementById('q5').value;
      //var q6 = document.getElementById('q6').value;
      //var q7 = document.getElementById('q7').value;
    }
    function filter() {

      title.style.WebkitAnimation = "fadeOut 1s";
      title.style.animation = "fadeOut 1s";
      setTimeout(() => {
        content.style.WebkitAnimation = "fadeIn 1s";
        content.style.animation = "fadeIn 1s";
        setTimeout(() => {
          title.style.display = "none";
          content.style.display = "block";
        }, 450)

      }, 450);

    }



    /*
    mouse,0
    cow,1
    tiger,2
    rabbit,3
    dragon,4
    snake,5
    horse,6
    sheep,7
    monkey,8
    chick,9
    dog,10
    pig,11
    */
    const qList = [
      {
        q: '1. 내가 자주가는 카페는?',
        a: [
          { answer: 'a. 이디야', type: ['0', '1', '3'], pattern: ['0'] },
          { answer: 'b. 스벅', type: ['2', '4', '5', '6', '7'], pattern: ['1'] },
        ]
      },
      {
        q: '2. 술을 마시면 얼마나 먹어?  ',
        a: [
          { answer: 'a. 알딸딸~ 가볍게!', type: ['1', '5'], pattern: ['1'] },
          { answer: 'b. 만취', type: ['0', '2'], pattern: ['2'] },
        ]
      },
      {
        q: '3. 어떤 주종이 끌리나요?',
        a: [
          { answer: 'a. 탁주', type: ['1', '2', '4', '5'], pattern: ['8'] },
          { answer: 'b. 약주', type: ['2'], pattern: ['9'] },
          { answer: 'c. 증류주', type: ['0', '2'], pattern: ['10'] },
          { answer: 'd. 과실주', type: ['7', '2', '4', '5'], pattern: ['11'] },
          { answer: 'e. 기타주류', type: ['2'], pattern: ['12'] },
        ]
      },
      {
        q: '4. 설빙에 갔다 어떤 메뉴를 고를까?',
        a: [
          { answer: 'a. 인절미 빙수 ', type: ['0'], pattern: ['2'] },
          { answer: 'b. 초코 빙수 ', type: ['7', '5'], pattern: ['3'] },
        ]
      },
      {
        q: '5. 냉면 먹을 때 식초를 얼마나 뿌릴까?',
        a: [
          { answer: 'a. 식초는 무슨~ 본연의 맛 그대로 먹자!', type: ['0'], pattern: ['3'] },
          { answer: 'b. 식초는 2바퀴 이상 둘러야지!', type: ['5', '7', '6'], pattern: ['4'] },
        ]
      },
      {
        q: '6. 식당에서 나올 때 후식으로 사탕이 있다. 당신이 고른 사탕은?',
        a: [
          { answer: 'a. 시원~한 박하사탕', type: ['7', '5'], pattern: ['4'] },
          { answer: 'b. 구수~한 누룽지사탕', type: ['0', '2', '6'], pattern: ['5'] },
        ]
      },
      {
        q: '7. 친구들끼리 놀러가는 차에서 노래를 선곡해야 한다면 어떤 스타일의 노래를 틀까?',
        a: [
          { answer: 'a. 신나는 여름노래, 댄스곡', type: ['5', '7'], pattern: ['5'] },
          { answer: 'b. 신나는건 랩이지!! 힙스터 느낌의 힙합', type: ['0', '2', '4'], pattern: ['6'] },
        ]
      },
      {
        q: '8. 술자리에서 내가 더 가까운 포지션은?',
        a: [
          { answer: 'a. 안주는 내게 맡겨! "안주킬러" ', type: ['1', '5'], pattern: ['6'] },
          { answer: 'b. 안주는 무슨 술 먹기도 바빠! "알코올킬러"', type: ['0', '2', '4', '6'], pattern: ['7'] },
        ]
      },

    ]
    const infoList = [
      {
        name: '먹고 죽자!, 술고래',
        desc: '저렴하지만 쉽게 취할 수 있는 화끈한 증류주를 추천합니다.'
      },
      {
        name: '술은 모르겠고 안주만 먹을래, 안주킬러',
        desc: '우리가 흔히 먹는 막걸리와 같은 탁주는 전이나 무침 등 우리 음식 안주와 잘 어울립니다. 안주를 좋아하면 탁주를 추천해요.'
      },
      {
        name: '술만 있으면 누구랑 언제 어디든 좋아!, 고독한 애주가',
        desc: '진정 술을 사랑하는 사람들! 이분은 어떠한 술이든 다 좋아하므로 본인의 취향에 맞는 술을 골라서 드세요. 대표적인 전통주의 맛을 느낄 수 있는 탁주를 먼저 드셔보아도 좋아요! '
      },
      {
        name: '술보단 술자리가 좋아, 자리지킴이',
        desc: '당신은 술을 잘 마실지도 못 마실지도 모르지만 술자리 평균 주량에 맞춰 드시길 바랍니다. 술자리를 따라다니다 보면 술자리가 잦기 때문에 저렴한 술을 드시는 것을 추천합니다. '
      },
      {
        name: '좋은 사람과 좋은 자리 그리고 좋은 술, 귀족',
        desc: '좋은 술을 찾는 유형! 특별한 날에 먹고 싶은 양주처럼 그에 못지않은 고급 전통주를 추천합니다. 고급 탁주나 과실주를 드시면 좋겠네요!'
      },
      {
        name: '한 잔만 먹어도 빨개져.., 홍당무',
        desc: '남들 주량에 따라가지 못하지만 그들과 술자리를 오래달리기 위해서는 도수가 낮은 과실주나 탁주류를 추천합니다.'
      },
      {
        name: '술을 음미하며 먹는 찐 술꾼, 전통소믈리에',
        desc: '술의 맛에 민감한 분들은 단맛, 신맛, 청량도를 맞춰 여러 술을 드셔보긴 권합니다. 바디감이 높은 술이 음미하기 좋겠죠?'
      },
      {
        name: '달달한 과일소주면 무한으로 먹지~, 칵테일 사랑',
        desc: '달달한 과일소주로 오래 즐기고 싶군요! 과일이 원재료인 과실주나 단맛이 강한 술을 추천합니다.'
      },
    ]
  </script>
</body>

</html>